absl-py==2.1.0
alembic==1.14.0
anyio==4.12.1
apyori==1.1.2
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
contourpy==1.2.1
cycler==0.12.1
deno==0.0.0
Django==5.0.4
djangorestframework==3.17.1
executing==2.0.1
filelock==3.20.3
Flask==3.0.3
flask-cors==6.0.5
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.53.0
fsspec==2026.1.0
gast==0.5.4
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
google-pasta==0.2.0
googleapis-common-protos==1.72.0
greenlet==3.5.5
grpcio==1.64.0
h11==0.16.0
h5py==3.11.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
huggingface_hub==1.3.4
icecream==2.1.3
idna==3.7
imbalanced-learn==0.13.0
imblearn==0.0
imutils==0.5.4
itsdangerous==2.2.0
jax==0.4.31
jaxlib==0.4.31
Jinja2==3.1.3
joblib==1.4.2
keras==3.3.3
kiwisolver==1.4.5
libclang==18.1.1
llvmlite==0.46.0
Mako==1.3.8
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.9.0
mediapipe==0.10.15
ml-dtypes==0.3.2
more-itertools==10.8.0
MouseInfo==0.1.3
mpmath==1.3.0
namex==0.0.8
networkx==3.6.1
nltk==3.9.1
ntk==1.1.3
numba==0.63.1
numpy==1.26.4
oauthlib==3.3.1
openai-whisper==20250625
opencv-contrib-python==4.10.0.84
opencv-python==4.9.0.80
opencv-python-headless==4.13.0.90
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==2.2.2
pillow==10.3.0
platformdirs==2.6.2
playwright==1.62.0
pluggy==1.4.0
proto-plus==1.27.0
protobuf==4.25.3
pyasn1==0.6.2
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==2.22
pyee==13.0.1
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
PyMsgBox==1.0.9
pyobjc-core==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-Quartz==10.2
pyparsing==3.1.2
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pyscript==0.2.5
python-dateutil==2.9.0.post0
pytweening==1.2.0
pytz==2024.1
PyYAML==6.0.3
regex==2024.11.6
reportlab==4.4.10
requests==2.32.3
requests-oauthlib==2.0.0
rich==12.6.0
rich-click==1.7.4
rsa==4.9.1
rubicon-objc==0.4.7
safetensors==0.7.0
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
sentencepiece==0.2.1
setuptools==70.0.0
shellingham==1.5.4
six==1.16.0
sklearn-compat==0.1.3
sounddevice==0.5.0
SQLAlchemy==2.0.31
sqlparse==0.5.0
sympy==1.14.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
torch==2.10.0
tqdm==4.67.1
transformers==5.0.0
typer==0.4.2
typer-slim==0.21.1
typing_extensions==4.10.0
tzdata==2024.1
uritemplate==4.2.0
urllib3==2.2.1
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
WTForms==3.1.2
